/* Have two columns */
.galleryColumn {
  flex: 50%;
  max-width: 50%;
}

.newline {
    display: none;
}

.galleryLink, .about, .contact, .join{
    flex: 0 1 100%;
    text-align: center;
    background: white;
    border: solid black;
    height: 15vh
}

table {
    font-size: 8pt;
}

#contact p {
    font-size: 8pt;
}