
/*INDEX PAGE*/
.grid-layout article {
    display: grid;
    justify-content: center;
    grid-template-areas:
        "data"
        "waste help";
}

h1 {
    font-size: 20pt;
}

h2, h3 {
    font-size: 17pt;
}

p.indent {
    font-size: 14pt;
}

.grid-layout .data{
    grid-row: 1 / 1;
}

.grid-layout .waste{
    grid-column: 1 / 1;
}

.grid-layout .help{
    grid-column: 2 / 2;
}
/*INDEX PAGE END*/

/*DETAIL PAGE*/

h1 {
    font-size: 20pt;
}

h2, h3 {
    font-size: 17pt;
}

p.indent {
    font-size: 14pt;
}

figure.timelapse {
    float: left;
}

.grid-layout article {
    display: grid;
    justify-content: center;
    grid-template-areas: 
        "landfills" 
        "habitats";
}

.grid-layout .landfills {
    grid-column: 1 / 1;
}

.grid-layout .habitats {
    grid-column: 1 / 1;
}
/*DETAIL PAGE END*/

/*FORM PAGE*/
.grid-layout article {
    display: grid;
    justify-content: center;
    grid-template-areas:
        "contact recycle"
        "helping important"
        "comments"
        "finish";
}

.grid-layout .contact {
    grid-column: 1 / 1;
}

.grid-layout .recycle {
    grid-column: 2 / 2;
}

.grid-layout .helping {
    grid-column: 1 / 1;
}

.grid-layout .important {
    grid-column: 2 / 2;
}

.grid-layout .comments {
    grid-column: 1 / 1;
}

.grid-layout .finish {
    grid-column: 1 / 1;
}

fieldset {
    width: 90%;
}

fieldset:hover {
    width: 92%;
}
/*FORM PAGE END*/